{% extends 'layout.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Resume App</h1>
        </div>
    </div>

    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquam, aperiam consequuntur culpa doloremque eius enim eos expedita facere ipsam laudantium, magni, modi numquam obcaecati quod quos tempore unde.</span>
    </p>
    <div class="card" style="width: 18rem;">
        <img src="https://via.placeholder.com/450x300.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
        console.log("hello")
    </script>
{% endblock %}


